.order {
  width: 75%;
  margin: 15px auto;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.ingredient {
  text-transform: capitalize;
  margin: 5px 20px 5px 0;
  width: 125px;
  text-align: center;
  padding: 5px 0;
  color: #18121e;
  background-color: #fff;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
}