.loader {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  border: 10px solid #3C5158;
  border-top: 10px solid #fff;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
